<div class="row">
    <div class="col-md-2" ng-repeat="(day,menuCategory) in order.list" ng-click="order.setActiveDay(day)">
        {{day}}
        <table>
            <td>
                <dt>
                    Breakfast
                </dt>
                <dd>
                    {{menuCategory.breakfast}}
                </dd>
            </td>

            <td>
                <dt>Lunch</dt>
                <dd>
                    {{menuCategory.lunch}}
                </dd>
            </td>

            <td>
                <dt>Dinner</dt>
                <dd>
                    {{menuCategory.dinner}}
                </dd>

            </td>
        </table>
    </div>
</div>